<hero-form></hero-form>

<div>{{name}}</div>
<h1>Hello {{myHero}}</h1>
<ul>
  <!--模板中使用 Angular 的ngFor指令来显示heroes列表中的每一项。-->
  <!--<li>元素里的*ngFor是 Angular 的“迭代”指令。 它将<li>元素及其子级标记为“迭代模板”：-->
  <!--ngFor双引号表达式中的hero-->
  <li *ngFor="let hero of heroes" >
    {{hero.id}}
    {{hero.name}}
  </li>
</ul>
<!--通过 NgIf 进行条件显示-->
<!--*ngIf中的前导星号 (*)。它是本语法中不可或缺的一部分-->
<p *ngIf="heroes.length > 3" >There are many heroes!</p>
<p>
  <click-me></click-me>
</p>
<div>
  <h4>Give me some keys!</h4>
  <key-up1></key-up1>
</div>
<!--从一个模板引用变量中获得用户输入-->
<div>
  <loop-back></loop-back>
</div>
<!---->
<div>
  <h4>Give me some keys2!</h4>
  <key-up2></key-up2>
</div>
<!--按键事件过滤-->
<div>
  <h4>Give me some keys3!</h4>
  <key-up3></key-up3>
</div>
<!--失去焦点事件(同时监听输入框的回车键和失去焦点事件)-->
<div>
  <h4>Give me some keys4!</h4>
  <key-up4></key-up4>
</div>
<!--简单输入提交到列表功能-->
<div>
  <litter-tour></litter-tour>
</div>
